#FilterUser {
  .search-title {
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 16px;
  }

  .search-conditions-box {
    position: relative;
    margin-bottom: 40px;
    padding: 10px 20px;
    margin-left: 0;

    ul.search-conditions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        .css-1in441m {
          width: 0;
        }

        // .MuiOutlinedInput-root {
        //   background-color: #252547;
        //   border-color: #13132b;
        //   color: #fff;

        //   .MuiSelect-select {
        //     white-space: pre-wrap;
        //   }

        //   svg {
        //     color: #fff;
        //   }
        // }

        // color: #fff;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &.substring-condition,
        &.categoryId-condition {
          width: 50%;
        }

        &.inventory-condition {
          width: 35%;
        }

        // &.substring-condition {
        //   // input {
        //   //   background-color: #252547;
        //   //   border-color: #13132b;
        //   //   color: #fff;

        //   //   &:hover {
        //   //     background-color: #1b1b38;
        //   //     border-color: #13132b;
        //   //   }
        //   // }
        // }

        &.actions {
          button {
            color: #fff;
            background-color: #2196f3;
            border-color: #2196f3;
            font-size: 15px;

            &:hover {
              color: #212529;
            }
          }
        }
      }
    }

    .arrow {
      border: 1px solid #13132b;
      border-top: none;
      background: #323259 url(https://admin.gearfocus.div4.pgtest.co/arrow_search.e9a03c6807837ca994f8.png) center 2px no-repeat;
      border-radius: 0 0 5px 5px;
      bottom: -21px;
      height: 21px;
      left: 50%;
      margin-left: -29px;
      position: absolute;
      width: 58px;
      cursor: pointer;

      &[aria-expanded="true"] {
        background-position: center -16px;
      }
    }

    .search-conditions-hidden {
      border-top: 1px solid #13132b;

      .MuiOutlinedInput-root {
        background-color: #252547;
        border-color: #13132b;
        color: #fff;

        svg {
          color: #fff;
        }
      }

      // input {
      //   background-color: #252547;
      //   border-color: #13132b;
      //   color: #fff;

      //   &:hover {
      //     background-color: #1b1b38;
      //     border-color: #13132b;
      //   }

      //   &[type="radio"] {
      //     background-color: #fff;
      //     border-color: #fff;

      //     &:checked {
      //       background-color: #0d6efd;
      //       border-color: #0d6efd;
      //     }
      //   }
      // }

      .react-datepicker__current-month {
        padding: 10px 0;
      }

      .react-datepicker__navigation {
        height: auto;
        transform: translateY(50%);
      }

      .react-datepicker {
        border-color: #13132b;
        background-color: unset;
      }

      .react-datepicker__month-container {
        border-radius: 0.25rem;
      }

      .react-datepicker__triangle {
        display: none;
      }

      .react-datepicker__day-names {
        border-top: 1px solid #13132b;
        border-bottom: 1px solid #13132b;
        padding: 4px 0;
      }

      .react-datepicker__header {
        background-color: #323259;
        border-bottom: unset;

        .react-datepicker__current-month,
        .react-datepicker__day-name {
          color: #fff;
        }
      }

      .react-datepicker__month-container {
        background-color: #323259;

        .react-datepicker__day {
          color: #fff;

          &:hover {
            background-color: #252547;
            border-color: #252547;
          }
        }
      }

      .react-datepicker__day--keyboard-selected,
      .react-datepicker__day--in-range,
      .react-datepicker__day--in-selecting-range {
        background-color: #b18aff;
      }
    }
  }
}