#RemoveUser {
  position: sticky;
  bottom: 0;
  background: #323259;
  padding: 15px 2.25rem;
  margin-top: 40px;
  border: 1px solid #1b1b38;
  border-width: 0 0 1px 1px;
  box-shadow: 0 0 13px 0 #b18aff;
  z-index: 2;
  .btn {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    &:hover {
      color: #1b1b38;
    }
  }
  .dialogRemove {
    background: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .card {
      background-color: #323259;
      width: 400px;
      .list-group-item {
        padding: 16px 24px;
        background-color: #323259;
        border-bottom: 1px solid #1b1b38;
        color: #fff;
        .title {
          font-size: 15px;
          font-weight: 600;
        }
        .body {
          font-size: 15px;
        }
        .btn {
          padding: 6px 16px;
          font-weight: bold;
          &:first-child {
            background-color: #b18aff;
            border-color: #b18aff;
            &:hover {
              background-color: #d5bfff;
              border-color: #d5bfff;
              color: #fff;
            }
          }
          &:last-child {
            background-color: #ff708d;
            border-color: #ff708d;
            &:hover {
              background-color: #ffa8b4;
              border-color: #ffa8b4;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
