#PaginationComponent {
  padding: 20px;

  .pagination {
    li {
      border: 1px solid #ccc !important;

      &:not(:first-child) {
        border-left-color: #ccc !important;
      }

      &:hover {
        a{
          color: #fff;
        }
        background: #999 !important;
      }
    }

    .page-item,
    .page-link {
      font-size: 13px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent !important;
      border: none;

      &:focus {
        box-shadow: none !important;
      }
    }

    .selected {
      background-color: #999 !important;

      a {
        color: #fff;
      }
    }
  }

  .page-limit {
    strong {
      font-weight: 500;
      font-size: 15px;
    }

    select {
      background-color: #999;
      color: #fff;

      &:focus-visible {
        outline: none;
      }
    }
  }
}