#SideBar {
  width: 256px;
  background-color: #323259;
  > ul {
    padding: 0;
    margin: 0;
    li {
      padding: 12px 16px;
      cursor: pointer;
      font-size: 14px;
      &.active {
        color: #b18aff;
      }
      &:hover {
        color: #b18aff;
      }
      border-bottom: 1px solid #1b1b38;
      span {
        font-size: 13px;
        margin-left: 6px;
      }
      .rotate-90 {
        transition: all 0.3s;
        transform: rotate(-90deg);
      }
    }
    > li {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
