#HOCLayout {
  .main {
    padding-top: 76px;
    height: 100vh;

    .main-content {
      background-color: #fafafa;
      height: calc(100vh - 76px);
      // color: #fff;
      display: flex;

      .main-body {
        position: relative;
        flex: 1;
        padding: 36px 36px 12px;
        overflow-x: auto;
      }
    }
  }

}